<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.abhishek.learningdisability">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Module1Activity" />
        <activity android:name=".Module2Activity" />
        <activity android:name=".Module3Activity" />
        <activity android:name=".Module4Activity" />
        <activity android:name=".Module5Activity" />
        <activity android:name=".Module6Activity" />
        <activity android:name=".Module7Activity" />
        <activity android:name=".Module8Activity" />
        <activity android:name=".M1Page1" />
        <activity android:name=".M1P1Test" />
        <activity android:name=".M1P2Test"></activity>
    </application>

</manifest>